.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;

  .loader {
    width: 80px;
    height: 80px;

    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #1fe3d3;
    border-radius: 50%;

    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
