.root {
  .modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--background-light-stroke, rgba(188, 195, 208, 0.5));

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .modal {
      display: flex;
      flex-direction: column;

      width: 550px;

      padding: 24px;

      border-radius: 16px;
      background: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

      .modalHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        margin-bottom: 40px;

        .modalTitle {
          color: var(--plumbum, #262c40);
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 30px;
        }

        svg {
          cursor: pointer;

          &:hover {
            path {
              fill: var(--plumbum, #606a8a);

              transition: 0.3s;
            }
          }
        }
      }

      .modalBody {
        table {
          tr,
          th {
            color: var(--plumbum, #262c40);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;

            td {
              padding: 14px 0 14px 0;
            }
          }

          th {
            padding-right: 90px;
          }

          label {
            color: var(--Asphalt, #8189a3);

            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }

      .modalFooter {
        margin-top: 40px;

        h3 {
          color: var(--plumbum, #262c40);

          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        p {
          color: var(--Asphalt, #8189a3);

          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
  }
}
